body{
  margin:0;
  padding: 0;
  /* background: #252525; */
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
}

/* MASTER STYLES */
body{
  margin: 0px;
}

.container{
  display: grid;
  grid-template-columns: 1fr; /*100 percent; fractional unit go from end to end*/
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px
}

.left-side{
  display: flex;
}

/* NAVIGATION STYLES */
.nav-wrapper > .left-side > div { /*gets divs under nav wrapper */
  margin-right: 40px;
  font-size: 1.25em;
  text-transform: uppercase; /* converts uppercase, lowercase*/
}

.nav-link-wrapper{ /* animation 1*/
  height: 22 px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper a{ /* animation 2: color; inside nav link wrapper, grab a link */
  color: #c70039; /*  teal*/
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper a:hover{ /*pseudo states, allows hover to animate*/
  color: #c0e218;
}

.name{
  color: #c70039;
  font-size: 1.25em;
}


.projects{
  text-align: center;
}

.footer-content{
  display: flex;
  padding: 30px;
  color: #c70039;
  font-size: 1.50rem;
  justify-content: flex-end;
}

.footer-content li{
  justify-content: flex-end;
  margin: 0 10px;
  display: inline;
}
.footer-content a{
  color: #c70039;
  transition: 1s;

}
.footer-content a:hover{
  color: black;
}
